body {
    background-image: url("images/eugene-golovesov-tFX1nzq57ys-unsplash.jpg");
    background-size: auto 120vh;
    background-repeat: no-repeat;
}

main {
    margin-left: 35vw;
    background-color: azure;
    height: 100vh;
}

main p {
    margin-top: 0;
}

#logo-container {
    position: absolute;
    width: 35vw;
    height: 150px;
    top: 200px;
    left: 0;
    background-color: red;
}

h1 {
    margin-top: 0;
}

form {
    background-color: floralwhite;
}

fieldset {
    display: flex;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field > input {
    max-width: 500px;
}

